.container{
    margin-top: 50px;
}
.card{
    margin-bottom: 20px;
}
/* add more style to the card */
.card-body{
    padding: 20px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-text{
    font-size: 15px;
    font-weight: 500;
}
/* add more styling */
.btn{
    background-color: #212529;
    color: #ffffff;
    border: none;
    border-radius: 0;
}
.btn:hover{
    background-color: #ffffff;
    color: #212529;
}
/*make the height of the card equal to the height of the image*/
.card-img-top{
    height: 200px;
    object-fit: cover;
}
/*make  cards align equal height */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-sm{
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px){
    .col-sm{
        flex: 0 0 50%;
        max-width: 50%; 
    }
}
@media (min-width: 992px){
    .col-sm{
        flex: 0 0 33.333333%;
        max-width: 33.333333%; 
    }
}
/* @media (min-width: 1200px){
    .col-sm{
        flex: 0 0 25%;
        max-width: 25%; 
    }
} */
@media (max-width: 768px){
    .navbar-nav{
        flex-direction: column;
    }
}
.navbar{
    padding: 0 20px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}
.nav-link:hover{
    color: #ffffff;
}
.nav-link.active{
    color: #ffffff;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    font-size: 30px;
}