<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/search_style.css')}}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('getNews')}}">Quick News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('getNews')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="
                {% if category == 'india' %}
                {{url_for('categoryNews',name='india')}}
                {% else %}
                {{url_for('categoryNews',name='india')}}
                {% endif %}
            ">India</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="
                {% if category == 'world' %}
                {{url_for('categoryNews',name='world')}}
                {% else %}
                {{url_for('categoryNews',name='world')}}
                {% endif %}
                
                ">World</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="
                    {% if category == 'business' %}
                    {{url_for('categoryNews',name='business')}}
                    {% else %}
                    {{url_for('categoryNews',name='business')}}
                    {% endif %}
                    ">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="
                    {% if category == 'sports' %}
                    {{url_for('categoryNews',name='sports')}}
                    {% else %}
                    {{url_for('categoryNews',name='sports')}}
                    {% endif %}
                    
                    ">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="
                    {% if category == 'entertainment' %}
                    {{url_for('categoryNews',name='entertainment')}}
                    {% else %}
                    {{url_for('categoryNews',name='entertainment')}}
                    {% endif %}
                    
                    ">Entertainment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="
                    {% if category == 'technology' %}
                    {{url_for('categoryNews',name='technology')}}
                    {% else %}
                    {{url_for('categoryNews',name='technology')}}
                    {% endif %}
                    
                    ">Technology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="
                    {% if category == 'science' %}
                    {{url_for('categoryNews',name='science')}}
                    {% else %}
                    {{url_for('categoryNews',name='science')}}
                    {% endif %}
                    
                    ">Science</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>News about 
                    <span class="text-primary" id="cap">{{ keyword }}</span>
            </h1>            
        </div>
        </div>
        <div class="row">
            <!--loop through the search results-->
            {% for article in search_articles %}
            <div class="col-lg-3 col-md-4 col-sm">
                <div class="card">
                    <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                        <a href="{{ article.url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
</body>
</html>